
@media (min-width: 768px) {
    
    nav{
        .logo{
            width: 100px;
            height: 100px;
            margin-left: 50px;
        }

        h6{
            font-size: x-large;
        }
    }
    main{
        display: flex;
        flex-direction: row;

        div{
            width: 90%;
            p{
                font-size: larger;
            }
        }
    }
}
